@use "./src/style/canvas" as *;
@use "./src/style/event-panel" as *;

body {
  margin: 0;
  font-family: sans-serif;
  display: flex;
  background: linear-gradient(90deg,blue, skyblue);
  align-items: stretch;
}


